@mixin fontSize($size, $weight){
    font-size: $size;
    font-weight: $weight;
}

.titulo {
 @include fontSize(2rem, bold);
}

.subtitulo {
    @include fontSize(1rem, italic);
    color: rgb(70, 70, 70);
   }

.texto__cartas{
@include fontSize(1rem, 100)
}

.texto__separador{
@include fontSize(1rem, 200);
letter-spacing: 10px;
text-align: center;
}
